.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: blue;
}

.nav-item {
  padding: 15px;
  color: white;
  cursor: pointer;
}

.nav-item:hover {
  background-color: lightblue;
}

.login {
  margin-left: auto;
  padding-right: 20px;
  color: white;
  cursor: pointer;
}

.login:hover {
  background-color: lightblue;
}